<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<h3>Order List</h3>
<hr>
<form action="/order/searchOrder" method="get">
        <input type="number" name="order_id" placeholder="Order ID">
        <button type="submit">Search</button>
</form>
<hr>

<table class="table table-bordered">
<thead class="thead-dark">
<tr>
<th scope="col">Name</th>
<th scope="col">Price</th>
<th scope="col">Action</th>
</tr>
</thead>
<tbody>
<tr th:each="tempOrder : ${orders}">
<td th:text="${tempOrder.order_name}" />
<td th:text="${tempOrder.order_price}" />
<td><a th:href="@{/order/showFormForUpdate(order_id=${tempOrder.order_id})}"
class="btn btn-secondary btn-sm">Update</a>
<a th:href="@{/order/deleteOrder(order_id=${tempOrder.order_id})}"
class="btn btn-danger btn-sm">Delete</a>
</td>
</tr>
</tbody>
</table>
<a href="/customer/index">Home</a>
</body>
</html>
