<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Search Result</title>
</head>
<body>
    <h3>Order Search Result</h3>
    <div th:if="${order != null}">
        <p>Order ID: <span th:text="${order.order_id}"></span></p>
        <p>Name: <span th:text="${order.order_name}"></span></p>
        <p>Price: <span th:text="${order.order_price}"></span></p>
    </div>
    <div th:unless="${order != null}">
        <p>Order not found.</p>
    </div>
<a href="/order/index">Home</a>

</body>
</html>
